<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="shortcut icon" type="image/png" href="resources/placeholder.png" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="api.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img src="resources/placeholder.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
            Just a placeholder
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button type="button" class="btn">
                        <a class="nav-link" href="conferences.html">Conferences</a>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div id="logout-button">
                        <button type="button" class="btn">
                            <a v-on:click.prevent="logout()" class="nav-link" href="#">Log out</a>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <!-- TODO: different border colors based on role -->
    <div class="container">
        <div id="user-info" class="py-4">
            <h1>User profile: {{user.username}}</h1>
            <h4 class="py-2">Roles:</h4>
            <div class="row" v-for="role in user.roles">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header">{{role.role}}</div>
                        <div v-if="role.conference" class="card-body">
                            <h5 class="card-title">For conference:</h5>
                            <p class="card-text">{{role.conference.title}}</p>
                        </div>
                        <div v-if="role.paper" class="card-body">
                            <h5 class="card-title">For paper:</h5>
                            <p class="card-text">{{role.paper.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script>
        Vue.createApp({
            data() {
                return {
                    user: {}
                }
            },
            mounted() {
                // TODO: make this not hardcoded
                api.users.retrieve("user")
                .then(response => this.user = response.data)
                .catch(error => console.log(error))
            }
        })
        .mount('#user-info')

        Vue.createApp({
            methods: {
                logout() {
                    api.auth.logout()
                    .then(response => {
                        window.location.href = 'index.html'
                    })
                    .catch(error => console.log(error))
                }
            }
        })
        .mount('#logout-button')

    </script>
</body>

</html>