@import url("https://bootswatch.com/4/darkly/bootstrap.min.css");
/* @import url("https://bootswatch.com/4/superhero/bootstrap.min.css"); */

.vertical-center-full {
    min-height: 100vh;
    display: flex;
    align-items: center;
}