:root {
    --bg-color-darker: #141414;
    --bg-color: #191919;
    --bg-color-lighter: #292929;
    --text-color: #E6E8E6;
    --contrast-color: #F18F01;
}

body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
    margin: 0;
    background-color: var(--text-color);
}

button a {
    text-decoration: none;
}

#home-tab {
    height: 100%;
    display: block;
}

#profile-tab {
    height: 100%;
    display: none;
}

#dashboard-tab {
    height: 100%;
    display: none;
}

#profile-tab > .presentation, #dashboard-tab > .presentation {
    min-height: 0%;
    background-color: var(--bg-color);

    /*background-image: url("resources/cms-bg.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 24%;
}
.presentation {
    min-height: 75%;
    background-color: var(--bg-color);

    /*background-image: url("resources/cms-bg.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.presentation h1 {
    color: var(--text-color);
    /*background: linear-gradient(var(--text-color), #FF2E00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

#menu{
    background-image: linear-gradient(var(--bg-color-darker), var(--bg-color));
    color: var(--text-color);
    text-decoration: none;
}

#dashboard-menu {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    width: 200px;
    position: absolute !important;
}

.dashboard-content-tab {
    margin-left: 200px;
}

#dashboard-conferences-tab {
    display: block;
}

#dashboard-papers-tab {
    display: none;
}

#loginModal {
    min-height: 50%;
}

.heading {
    color: var(--bg-color-lighter);
}

.conference-name {
    color: var(--text-color);
    background-color: var(--bg-color-lighter);
}

#addConferenceButton {
    border: 1px solid var(--text-color);
}

.conference-details-primary {

}

.conference-details-secondary {
    font-size: 14px;
    font-weight: lighter;
}

button .conference-details-secondary {
    color: var(--text-color);
}

.cms-button {
    background-color: var(--bg-color);
    color: var(--contrast-color);
    font-weight: bold;
}

form textarea {
    min-height: 100px;
}

.tag {
    /*color: var(--contrast-color);*/
    margin-right: 2px;
    margin-top: 2px;
}

.tag:hover {
    background-color: var(--contrast-color);
    color: var(--bg-color-darker);
    font-weight: bold;
}

.icon {
    text-align: center;
    vertical-align: middle;
    transform: translateY(-12%);
    cursor: pointer;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }



/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color-darker);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color-lighter);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}


/* Preloader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--text-color);

    animation: spin 2s linear infinite;

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--contrast-color);

    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--text-color);

    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: var(--bg-color);
    z-index: 1000;
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}