@import url("https://bootswatch.com/4/darkly/bootstrap.min.css");
/* @import url("https://bootswatch.com/4/superhero/bootstrap.min.css"); */

.vertical-center-full {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #303030;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}